<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>

        <!-- Database connection settings -->
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.url">jdbc:postgresql://localhost:5432/adminbiblio</property>
        <property name="connection.username">miglo</property>
        <property name="connection.password">Ucad123$</property>


        <!-- SQL dialect -->
        <property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property>


        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">true</property>


        <mapping class="sv.edu.ucad.et1.cineticket.data.entities.Usuarios"/>
        <mapping class="sv.edu.ucad.et1.cineticket.data.entities.Biblio"/>
        <mapping class="sv.edu.ucad.et1.cineticket.data.entities.Editorial"/>
        <mapping class="sv.edu.ucad.et1.cineticket.data.entities.Clientes"/>
        <mapping class="sv.edu.ucad.et1.cineticket.data.entities.Prestamos"/>
 		<mapping class="sv.edu.ucad.et1.cineticket.data.entities.Autores"/>
 		<mapping class="sv.edu.ucad.et1.cineticket.data.entities.Catedraticos"/>
 		<mapping class="sv.edu.ucad.et1.cineticket.data.entities.Bitacora"/>
 		<mapping class="sv.edu.ucad.et1.cineticket.data.entities.Catbibliografia"/>
    </session-factory>

</hibernate-configuration>